@import url("https://fonts.googleapis.com/css?family=Dosis|Roboto&display=swap");
.background {
  background: url("../../assets/images/vietnam-beaches-lead.jpg");
  z-index: -1;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding: 10px 10px;
  color: #000;
}

.navbar {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #a5b9f3;
  border: none;
  margin: 20px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav .li {
  font-size: 20px;
  font-weight: 200;
  background-color: #a5b9f3;
}
.nav a {
  font-size: 20px;
  font-weight: 200;
  background-color: #a5b9f3;
}
.nav a :hover {
  background-color: red;
}

p {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.general-sub {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#map {
  min-height: 360px;
  margin: 0;
  padding: 0;
}

a .social-styles {
  color: #f6f9ff;
  margin: 10px 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  border-radius: 70%;
  background-color: #000;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

a .social-styles:hover {
  color: blue;
  background-color: white;
}

@media (max-width: 989px) {
  a .social-styles {
    color: #f6f9ff;
    margin: 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    border-radius: 70%;
    background-color: #000;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
  }
}

 #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

/*# sourceMappingURL=style.css.map */
